:root {
    --bg-img-url: url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/4d/Cat_November_2010-1a.jpg/1200px-Cat_November_2010-1a.jpg)}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

body, html {
    font-family: 'Devil Breeze', sans-serif;
    color: #fafafa;
    overflow: hidden;
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    background-image: var(--bg-img-url);

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* clock & info */
.topmost {
    position: relative;
    top: 0.35rem;
    display: flex;
    justify-items: center;
    flex-direction: row;
    align-items: center;
    font-size: 0.95rem;
    font-weight: 250;
    justify-content: center;
}
.top {
    position: relative;
    top: 5rem;
    font-size: 1rem;
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
}
#time {
    font-family: 'Roboto Black', sans-serif;
    font-size: 425%;
    font-weight: 500;
}
.info {
    margin-bottom: 0.25rem;
    font-size: 0.95rem;
    font-weight: lighter;
}

/* sign */
.sign {
    top: 70%;
    display: flex;
    position: relative;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    font-size: 0.95rem;
    font-weight: 150;
}
.sign > p {
    margin: 0;
}
.sign > p:last-child {
    margin-top: 0.15rem;
    font-size: 0.85rem;
    display: flex;
    justify-items: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.material-symbols-outlined {
    margin-right: 0.25rem;
}

/* action button */
.filter-white {
    filter: invert(97%) sepia(21%) saturate(6070%) hue-rotate(180deg) brightness(113%) contrast(104%);
}

.actions {
    color: #fafafa;
    height: 1.5rem;
    width: 1.5rem;
    margin: 0rem 0rem;
}

.left {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

.right {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}